

.body-view h5 {
    font-size: 3vh;
}
.body-view p {
    font-size: 2.5vh;
    font-weight: 500;
    text-align: justify;
}
.about-us-title {
    text-align: center;
}

.globe-spinner {
    height: 50vh;
    width: 50vh;
    margin-top: 1vh;
    background: green;
    background: url('images/team-spirit.svg') no-repeat;
    background-position: center;
    background-size: 80% 80%;
}
@media(max-width: 768px) {
    .body-view p {
        font-size: 15px;
    }
}